body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    background-color: #3b3a3a;
  }
  
  #root {
    margin: 4rem;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .form {
    background-color: rgb(251, 251, 252);
    padding: 30px;
    border-radius: 3px;
  }